<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="capapresentacion.Properties.Settings.bd_caineConnectionString"
            connectionString="Data Source=(local);Initial Catalog=bd_caine;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>